{% extends 'blog/base_blog.html' %}

{% block title %}
    Blog
{% endblock %}

{% block content %}
    <h1>Blog</h1>
    {% for blog in blogs %}
    <p>
        {{ blog.name }} - {{ blog.tagline }}
        {# This is a comment #}
    </p>
    {% endfor %}
    <h1>Autors</h1>
    {% for autor in autors %}
    <p>
        {% if autor.name == 'Bil Gates' %}
            <p>Welcome to the weekend!</p>
        {% else %}
            <p>Get back to work.</p>
        {% endif %}
        {{ autor.name | lower }} - {{ autor.email }}
    </p>
    {% endfor %}
    <h1>Entries</h1>
    {% for entry in entries %}
    <p>
        {{ entry.headline }}
    </p>
    {% endfor %}
{% endblock %}